---

import { profileConfig } from "../config";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import { url } from "../utils/url-utils";
import ImageWrapper from "./misc/ImageWrapper.astro";

const currentYear = new Date().getFullYear();
const config = profileConfig;
const t = (key: I18nKey, lang?: string) => i18n(key, lang);
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 mb-12 flex flex-col items-center justify-center px-6">


    <!-- 友情链接区域 -->
    <div class="mt-4 text-center">
        <p class="transition text-50 text-sm font-medium">{t(I18nKey.friendLinks)}:</p>
        <div class="flex flex-wrap gap-4 justify-center mt-1">
            <a class="transition link text-[var(--primary)] text-sm hover:underline" target="_blank" href="https://www.xrh0905.top" rel="noopener noreferrer">
                xrh0905.top
            </a>
        </div>
    </div>


    <br>
    <!-- 版权信息区域 -->


    <div class="transition text-50 text-sm text-center">
        <!-- <div>
            <ImageWrapper src={config.footerImage || ""} alt="Profile Image of the Author" class="w-[50px] h-[50px] mx-auto mb-2  rounded-full"></ImageWrapper>
        </div> -->
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. |
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> |
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a> | <br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/KenRouKoro/korostudio_dot_cn">Fuwari-Koro</a>
        <!-- <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://beian.miit.gov.cn/">桂ICP备20000593号-1</a> |
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45030502000306">桂公网安备45030502000306</a> -->
    </div>


</div>